#player-window {
    position: relative;
    width: 100%;
    height: 100%;

    .plyr {
        > button[data-plyr="play"] {
            display: none;
        }
    }
}

#chat-window {
    height: 100%;
    overflow-y: scroll;

    .chat-messages {
        .chat-message {
            .author {
                font-weight: bold;
                margin-right: 15px;
            }
        }
    }
}