#player-window {
    position: relative;
    width: 900px;
    //height: 400px;

    .plyr {
        > button[data-plyr="play"] {
            display: none;
        }
    }
}

#control-list {

}

$buffer-bar-bg-color: rgba(0,0,0,0.1);
$current-progress-bg-color: purple;
$thumb-bg-color: red;
$track-bg-color: transparent;
$thumb-width: 50px;
$thumb-height: 30px;
$track-height: 30px;

#buffer-seek-bar {
    position: relative;
    width: 100%;
    height: $track-height;
    background-color: orange;

    input[type="range"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: $track-height;
        z-index: 20;
        background: transparent;
    }

    input[type=range].slider {
        -webkit-appearance: none;
        width: 100%;
    }

    input[type=range].slider:focus {
        outline: none;
    }

    input[type=range].slider::-webkit-slider-runnable-track {
        width: 100%;
        height: $track-height;
        cursor: pointer;
        background: $track-bg-color;
        border-radius: 3px;
        z-index: 20;
    }

    input[type=range].slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: $thumb-height;
        width: $thumb-width;
        border-radius: 3px;
        background: $thumb-bg-color;
        cursor: pointer;
    }

    input[type=range].slider:focus::-webkit-slider-runnable-track {
        background: $track-bg-color;
    }

    // This is the bar behind the knob
    input[type=range].slider::-moz-range-track {
        width: 100%;
        height: $track-height;
        cursor: pointer;
        background: $track-bg-color;
        border-radius: 3px;
        z-index: 20;
    }


    input[type=range].slider::-moz-range-thumb {
        height: $thumb-height;
        width: $thumb-width;
        border-radius: 3px;
        background: $thumb-bg-color;
        cursor: pointer;
    }

    input[type=range].slider::-ms-track {
        width: 100%;
        height: 30px;
        cursor: pointer;
        background: $track-bg-color;
        border-radius: 3px;
        z-index: 20;
        position: relative;
    }

    input[type=range].slider::-ms-fill-lower {
        background: $track-bg-color;
    }

    input[type=range].slider::-ms-fill-upper {
        background: $track-bg-color;
    }

    input[type=range].slider::-ms-thumb {
        height: $thumb-height;
        width: $thumb-width;
        border-radius: 3px;
        background: $thumb-bg-color;
        cursor: pointer;
    }

    input[type=range].slider:focus::-ms-fill-lower {
    }

    input[type=range].slider:focus::-ms-fill-upper {
    }

    // Buffer bar
    > .progress-bar {
        background-color: $buffer-bar-bg-color;
        z-index: 10;
        pointer-events: none;
    }
}

#play-bar {


}

#chat-window {
    height: 100%;
    overflow-y: scroll;

    .chat-messages {
        .chat-message {
            .author {
                font-weight: bold;
                margin-right: 15px;
            }
        }
    }
}
